<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- SQL dialect -see properties file -->

        <!-- Substitue 1 for true and 0 for false in HQL queries -->
        <property name="hibernate.query.substitutions">true 1, false 0</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping class="todo.domain.Task" />
        <mapping class="todo.domain.User" />
        <mapping class="todo.webapp.dto.RegistrationForm" />


    </session-factory>


</hibernate-configuration>

