<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg value="256"/>
    </beans:bean>

    <beans:bean id="todoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService">
            <beans:bean class="todo.security.spring.TodoUserDetailsService"/>
        </beans:property>
        <beans:property name="passwordEncoder" ref="passwordEncoder"/>
        <beans:property name="saltSource">
            <beans:bean
                    class="todo.security.spring.TodoSaltSource"/>
        </beans:property>
    </beans:bean>

    <http auto-config="true">
        <intercept-url pattern="/login/**"
                       access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/static/**"
                       access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/favicon.ico"
                       access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/tos/**"
                       access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/api/users/**"
                       access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/registration/**"
                       access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/users/**"
                       access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <logout logout-url="/logout/" logout-success-url="/"/>
        <form-login
                login-page="/login/"
                authentication-failure-url="/login/invalid/"
                default-target-url="/redirector/" />
    </http>

    <authentication-manager>
        <authentication-provider ref="todoAuthenticationProvider"/>
    </authentication-manager>


</beans:beans>
